@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url('https://fonts.googleapis.com/css2?family=Oxanium&display=swap');

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-family: "Oxanium", serif;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}

a {
  text-decoration: none;
}

h3{
  color: var(--primario);
  font-size: 54px;
  font-weight: 600;
}

:root{
    --body: #120428;
    --preto: #000;
    --branco: #fff;
    --degrade: linear-gradient(to right, #e54a64, #fe9752);
    --primario: #e54a64;
    --secundario: #fe9752;
    --cinza: #B6B1BC;
    --roxo: #2B0B5D;
    --roxo2: #593D85;
    --roxo3: #0A0216;
}

body{
  background-color: var(--body);  
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

