header{

    & .nav-principal{
        padding: 40px;
        display: flex;
        justify-content: space-between;

        & i{
            color: var(--branco);
            font-size: 24px;
        }


        & h4{
            
            font-size: 24px;
            color: var(--branco);

            &:hover{
                color: var(--primario);
            }
        }

        & h6{
            font-size: 18px;
            color: var(--cinza);
        }
        
        & .pesquisa{
            margin-left: 20px;
            display: flex;
            padding: 10px 20px;
            width: 500px;
            border: 1px solid var(--branco);
            border-radius: 4px;
            height: 34px;
            background-color: rgba(255, 255, 255, 0.05);
            backdrop-filter: blur(10px);
            align-items: center;
            

            & .pesquisar, .local{
                padding: 10px;
                align-items: center;
                display: flex;  
                gap: 20px;
            }

            & .pesquisar{
                display: flex;
                width: 100%;
                justify-content: space-between;
            }
        }

        & #xp-principal{
            display: flex;
            align-items: center;
            justify-content: space-between;
           
        }

        & .perfil, .usuario{
            display: flex;
            align-items: center;
            gap: 20px;
            font-weight: 100;
            cursor: pointer;

            & i:hover{
                color: var(--primario);
            }
        }
    }

}

#filter{
    
    & h4{
        font-size: 18px;
        border: 1px solid var(--branco);
        padding: 10px 20px;
        border-radius: 100px;
        cursor: pointer;

        &:hover{
            background: var(--degrade);
        }
    }
    #listaGenero{
        display: flex;
        color: var(--branco);
        align-items: center;
        justify-content: start;
        gap: 24px;
        overflow: hidden;
        scroll-behavior: smooth;
        white-space: nowrap;
        cursor: grab;
        scrollbar-width: none;
        padding: 10px 20px;

        &:active{
            cursor: grabbing;
        }
    }
}

#banner-principal{
    margin-top: 60px;   
}

#console{
    margin-top: 80px;

    & h4{
        font-size: 28px;
        color: var(--cinza);
        margin-bottom: 20px;
    }

    & .card{
        width: 300px;
        border-radius: 20px;
        cursor: pointer;

        & img{
        opacity: 0.3;
        }

        &:hover{
            & img{
                opacity: 1;
                transition: 1s;
            }
        }
    }

    & .card-console{
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        padding: 20px;
        gap: 12px;
        font-size: 15px;
        font-weight: 200;
    }

    & h3{
        font-size: 26px;
    }

    & a{
        text-decoration: none;
        display: flex;
        gap: 16px;
        color: var(--branco);
    }

    & #listaConsoles{
        display: flex;
        gap: 24px;
        overflow: hidden;
        scroll-behavior: smooth;
        white-space: nowrap;
        cursor: grab;
    }

}

#destaques{
    margin-top: 80px;
    padding-bottom: 40px;

    & h4{
        font-size: 24px;
        color: var(--cinza);
        margin-bottom: 20px;
    }

    & .card{
        background-color: var(--roxo);
        border-radius: 8px;
        width: 230px;
    }

    & .card-body{      
        gap: 8px;       
    }

    & h5{
        font-size: 20px;
        color: var(--branco);
    }

    & p{
        font-size: 16px;
        color: var(--cinza);
    }

    & a{
        margin-top: 4px;
        border-radius: 8px;
        padding: 6px;
    }

    & #listaDestaques{
        display: flex;
        justify-content: space-between;
    }
}

#ps5{
    & .videogames{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;

        & h4{
            font-size: 28px;
            font-weight: 900;
            color: var(--primario);
        }


        & img{
            width: 80%;

            &:hover{
                transform: scale(1.05);
                transition: 1s;
            }
        }
    }
    
}

footer{
    background-color: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(5px);
    padding: 40px 0;
    border-top: 1px solid var(--roxo);
    margin-top: 60px;

    & h3{
        font-size: 40px;
    }

    & .coluna-rodape{
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    & .redes, .brasil{
        display: flex;
        gap: 20px;
        color: var(--cinza);
        font-size: 24px;

        & i{
            cursor: pointer;

            &:hover{
                color: var(--branco);
            }
        }
    }

    & h2{
        color: var(--branco);
        font-size: 30px;
    }

    & h4{
        color: var(--cinza);
        font-size: 22px;
        cursor: pointer;

        &:hover{
            color: var(--branco);
        }
    }

    & hr{
        width: 100vw;
        background-color: var(--roxo);
    }

    & .abaixo-rodape{
        width: 100vw;
        display: flex;
        justify-content: space-between;

        & h4{
            height: 100%;
            display: flex;
            align-items: center;
        }      
    }

    & .btn{
        background: var(--degrade);
        color: var(--branco);
        font-size: 20px;

        &:hover{
            color: var(--roxo);
        }
    }
}

#modalOverlay {
    display: none; /* Inicialmente oculto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999; /* Atrás do modal */   
}

#modalConfig {
    color: var(--cinza);
    font-size: 20px;
    padding: 20px;
    border-radius: 12px;
    background-color: var(--roxo);
    display: none; /* Modal começa oculto */
    border: 2px solid var(--roxo2);
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000; /* Acima do overlay */

    & .config{
        display: flex;
        padding: 10px 20px;
        gap: 12px;
        font-family: "Oxanium", serif;
        cursor: pointer;

        &:hover{
            color: var(--branco);
        }
    }
}