body{
    background-color: var(--body);  
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}



header{
    background: url(../images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;


    & .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 40px 0;
    }

    

    & .btn{
        padding: 10px 20px;
        border-radius: 5;
        border: 1px solid;
        height: 57px;
        font-size: 22px;
    }

    & .btn-nav{
        background-color: transparent;
        border-color: var(--branco);
        color: var(--branco);

        &:hover{
            background-color: var(--branco);
            color: var(--roxo);
        }
    }

    & .entrar{
        background: var(--degrade);
        color: var(--branco);
        border: var(--degrade);

        &:hover{
            color: var(--degrade);
        }
    }



    & #banner{
        height: 85vh;  
        display: flex;
        align-items: center;
        justify-content: start;
        cursor: default;
    
        & h2{
            font-size: 56px;
            font-weight: 800;
            color: var(--secundario);
            font-family: "Oxanium", serif;
    
            & span{
                color: var(--cinza);
            }
        }

        & p{
            color: var(--branco);
            font-size: 24px;
        }

        & #banneritiulo{
            transition: all 0.5s ease-in-out;
        }
    
       & .filtro{
        padding: 16px 20px;
        border: 1px solid rgba(253, 253, 253, 0.5);
        color: var(--branco);
        border-radius: 4px;
        width: 516px;
        font-size: 24px;
        display: flex;
        justify-content: space-between;
        background-color: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(10px);

        & span{
            opacity: 0.6;

            &:hover{
                opacity: 1;
            }
        }
       }
    }

}

#sobre{
    height: 80vh;
    display: flex;
    padding-top: 50px;
    

    & ul.mx-auto{
        display: flex;
        color: var(--branco);
        justify-content: space-between;
        font-size: 28px;
        font-weight: 100;
        cursor: pointer;

        & li{
           opacity: 0.5;

           &:hover{
            opacity: 1;
           }
        }
    }

    & .sobre-xp{
        margin-top: 140px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;

        & h3{
            color: var(--primario);
            font-size: 54px;
            font-weight: 600;
        }

        & p{
            color: var(--branco);
            font-size: 24px;
            font-weight: 100;
        }

        & ul{
            font-size: 24px;
            color: var(--cinza);
            display: flex;
            flex-direction: column;
            gap: 24px;

            & i{
                color: var(--primario);
            }
        }

        & button{
            padding: 10px 20px;
            background: var(--degrade);
            color: var(--branco);
            font-size: 20px;
            font-weight: 500;

            &:hover{
                color: var(--roxo);
            }
        }
    }    
}

#recompensa{
    padding-top: 40px;
    height: 60vh;


    & p{
        color: var(--branco);
        font-size: 20px;
    }

    & .ganhou{
        color: var(--primario);
        font-size: 28px;
        font-weight: 600;
        background-color: var(--roxo);
        padding: 20px 20px;
        border-radius: 8px;
        

        & hr{
            background-color: var(--primario);
            width: 80%;   
        }

        & span{
            color: var(--branco);
        }
    }

    & .recompensa{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
}

#funciona{
    height: 40vh;

    & .itens{
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }

    & li{
        & .circulo{
            background-color: var(--roxo);            
            color: var(--primario);
            border-radius: 100%;

            & i{
                font-size: 24px;
                padding: 40px;
            }
        }

        & p{
            padding-top: 10px;
            color: var(--branco);
        }
    }

    & .filtro{
        display: flex;
        justify-content: space-between;
        border-radius: 8px;
        margin-top: 80px;
        padding: 16px 20px;
        border: 1px solid rgba(253, 253, 253, 0.5);
        color: var(--branco);
        background-color: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(10px);
        font-size: 24px;
    }
}

#gamers{
    & h2{
        text-align: center;
        font-family: Oxanium;
        font-size: 200px;
        color: var(--branco);
    }

    & h3{
        font-size: 34px;
        color: var(--primario);
    }

    & .jogadores{
        display: flex;
        justify-content: center;
        gap: 20px;

        & .jogador{
            width: 200px;
            height: 200px;

            & img{
                width: 100%;
                background-size: cover;
            }
        }
    }

    & button{
        background: var(--degrade);
        color: var(--branco);
        font-size: 20px;
        font-weight: 500;
        padding: 10px 20px;

        &:hover{
            color: var(--roxo);
        }
    }

}

#cartao{
    margin-top: 40px;

    & h3{
        font-size: 40px;
    }

    & h4{
        font-size: 30px;
        color: var(--cinza);
        font-weight: 800;
    }

    & p{
        color: var(--branco);
        font-size: 20px;
        font-weight: lighter;
    }

    & .presente{
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
    }

    & button{
        background: var(--degrade);
        color: var(--branco);
        font-size: 20px;
        font-weight: 500;
        padding: 10px 20px;

        &:hover{
            color: var(--roxo);
        }
    }
}

footer{
    background-color: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(5px);
    padding: 40px 0;
    border-top: 1px solid var(--roxo);

    & h3{
        font-size: 40px;
    }

    & .coluna-rodape{
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    & .redes, .brasil{
        display: flex;
        gap: 20px;
        color: var(--cinza);
        font-size: 24px;

        & i{
            cursor: pointer;

            &:hover{
                color: var(--branco);
            }
        }
    }

    & h2{
        color: var(--branco);
        font-size: 30px;
    }

    & h4{
        color: var(--cinza);
        font-size: 22px;
        cursor: pointer;

        &:hover{
            color: var(--branco);
        }
    }

    & hr{
        width: 100vw;
        background-color: var(--roxo);
    }

    & .abaixo-rodape{
        width: 100vw;
        display: flex;
        justify-content: space-between;

        & h4{
            height: 100%;
            display: flex;
            align-items: center;
        }      
    }

    & .btn{
        background: var(--degrade);
        color: var(--branco);
        font-size: 20px;

        &:hover{
            color: var(--roxo);
        }
    }
}








